@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.canvas {
    background-color: black;
}
.para {
    margin-bottom: 0 !important;
    color: aqua;
    font-family: 'didot';
    font-size: 20px;
}

.heading {
    color: aqua;
    font-family: 'didot';
    font-size: 25px
}

.description {
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    text-align: justify;
}

@media only screen and (max-width:375px){
    .para {
        text-transform: none;
    }
}