@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.heading {
    color: var(--main-theme-color);
    font-family: 'didot';
}

.text, .description, .date, .organization {
    color: whitesmoke;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text {
    font-size: 18px;
}

.position {
    color: var(--main-theme-color);
    transform-origin: 0 0;
    position: relative;
    top: 40%;
    font-family: 'didot';
    font-size: 25px !important;
    padding-right: .5em;
    /* text-decoration: underline var(--main-theme-color);
    text-decoration-thickness: 2px; */
}

.date {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

.organization {
    font-size: 18px;
    text-transform: capitalize;
}

.canvas {
    background-color: var(--main-theme-backgroundcolor);
    margin-bottom: 20px;
}

@media screen and (max-width: 320px){
    .position {
        font-size: 15px;
    }
}



