
.heading {
    color: aqua;
    font-family: 'Georgia, "Times New Roman", Times, serif';
}

.text {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.position {
    color: whitesmoke;
    font-family: cursive;
    transform: rotate(-10deg);
    transform-origin: 0 0;
    position: relative;
    top: 50%;
    font-family: 'didot';
    font-size: 30px
}

@media screen and (max-width: 320px){
    .position {
        font-size: 15px;
    }
}

.date {
    color: whitesmoke;
    text-transform: uppercase;
}

.description {
    color: whitesmoke;
}

.organization {
    color: whitesmoke;
    text-transform: capitalize;
}

.canvas {
    background-color: black;
    margin-bottom: 20px;
}

