@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.heading {
    color: aqua;
    font-family: 'didot';
}

.text, .description, .date, .organization {
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

.position {
    color: whitesmoke;
    font-family: cursive;
    transform-origin: 0 0;
    position: relative;
    top: 40%;
    font-family: 'Satisfy', cursive;
    font-size: 25px
}

.date {
    font-size: 13px;
}

.description {
    font-size: 14px;
}

.organization {
    text-transform: capitalize;
}

.canvas {
    background-color: black;
    margin-bottom: 20px;
}

@media screen and (max-width: 320px){
    .position {
        font-size: 15px;
    }
}



