.canvas {
    background-color: black;
    overflow: hidden;
}

.parent{
    height: 110vh;
    padding-right: 80px;
}

.leftSide {
    font-size:80px;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: .9;
    transform: rotate(180deg);
    float: right;
    margin: 0;
    margin-top: 25vh;
    margin-bottom: 5vh;
    font-family: "didot";
    color: var(--main-theme-color);
}

.rightSide {
    font-size:80px;
    margin: 0;
    writing-mode: vertical-lr;
    line-height: .9;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-family: "didot";
    float: left;
    color: var(--main-theme-color);
    height: inherit;
}

.textLeft {
    text-align: right;
    margin: 0;
    margin-bottom: 1vh;
    color: bisque;
}

.textRight {
    margin: 0;
    color: bisque;
    margin-bottom: 4vh;
}

.stick {
    height: inherit;
    padding: 0px 10px 0px 0px;
}

.leftTop {
    margin-top: 35% !important;
}

.rightTop {
    margin-top: 15% !important;
}

@media screen and (max-width: 426px){
    .parent{
        height: auto;
        padding-right: 0px;

    }
    .leftSide {
        font-size: 60px;
        margin-top: 25vh;
    }
    .textLeft {
        margin-right: 60px;
        margin-bottom: 1rem !important;
    }
    .rightSide {
        font-size:70px;
    }
    .textRight {
        margin-left: 70px;
        float: none;
        margin-bottom: 1rem !important;
    }
}