.wrapper {
  bottom: 0;
  background-color: black;
  color: whitesmoke;
  padding-bottom: 20px;
}

.image {
  border-radius: 50%;
}

.IconStyle {
  font-size: 35px;
  margin-right: 50px;
}

.heading {
  color: aqua !important;
}

.anchor:hover {
  color: aqua;
}

@media screen and (max-width: 426px){
  .anchor {
    margin-left: 30px;
  }
}