/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Satisfy&display=swap');

.wrapper {
  bottom: 0;
  background-color: black;
  color: whitesmoke;
  padding-bottom: 20px;
}

.lineStyling {
  width: 100%;
  height: 2px;
  border-color: var(--main-theme-color);
  border-style: solid; /* Ensure border is visible */
}

.IconStyle {
  font-size: 35px;
}

.heading2 {
  color: var(--main-theme-color) !important;
  font-size: 20px;
  font-family: "didot";
}

.anchor {
  color: var(--main-theme-color);
  margin: 0 15px; /* Equal horizontal spacing */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.anchor:hover {
  color: lightcyan; /* Change color on hover */
}

@media screen and (max-width: 426px){
  .anchor {
    margin: 0 10px; /* Adjust spacing for smaller screens */
  }
}
