html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: black;
    overflow: overlay;
    scroll-behavior: smooth;
    cursor: none;
}

.cursor {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 111;
  border: 1px solid aqua;
}

.dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: aqua;
  top: 40%;
  left: 40%;
  position: absolute;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 5px;
}

video::-webkit-media-controls, 
video::-moz-media-controls, 
video::-o-media-controls, 
video::-ms-media-controls {   
    display: none !important; 
    opacity: 0 !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}